.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container input {
  width: 100%;
}

.input-container {
  padding-bottom: 8px;
}

.input-container small {
  margin: 10px 0;
}

.container button {
  font-weight: bold;
  margin-top: 10px;
}

.error-message {
  display: block;
  margin-bottom: 8px;
}

.register-link {
  font-size: 14px;
  text-decoration: none;
}